@media (min-width: 600px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  #menuBtn {
    display: none;
  }
}

.menu-section {
  justify-content: center;
}

.menu-card {
  width: 45%;
}

@media (min-width: 600px) {
  form#reservation-form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
  }

  form#reservation-form input,
  form#reservation-form textarea {
    font-size: 1rem;
  }

  form#reservation-form button {
    font-size: 1.1rem;
  }
}

/* Medium Screens: Tablets */
@media (min-width: 768px) {
  header {
    padding: 1rem 3rem;
  }

  nav {
    display: flex; /* show horizontal nav for medium screens */
    gap: 2rem;
  }

  #menuBtn {
    display: none; /* hide hamburger on medium/large screens */
  }

  main {
    padding: 3rem;
  }

  .card-container {
    gap: 2.5rem;
  }

  .card {
    display: flex;
    flex-direction: column; /* stacked for tablets */
  }

  .card img {
    width: 100%;
  }

  .card-content {
    padding: 2rem;
  }

  .card-content h3 {
    font-size: 1.7rem;
  }
}


